body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}



/* HEAD_START */

.head {
    margin: 0;
    padding: 0;
}

.head_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 0;
}
.head_inner_left {
    margin: 0;
    padding: 0;
}
.head_inner_left_list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.head_inner_left_list_item {
    margin: 0;
    padding: 0;
}
.head_inner_left_list_item_link {
    text-decoration: none;
    color: #939CAA;
    font-size: 15px;
    font-weight: 700px;
    transition: 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}
.head_inner_left_list_item_link:hover {
    color: #FCB72B;
}
.head_inner_right {
    margin: 0;
    padding: 0;
}
.head_inner_right_btn {
    background-color: #FCB72B;
    color: #FFFFFF;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    margin: 0;
    padding: 15px 40px;
}
.head_inner_right_btn:hover {
    border: 2px solid #FCB72B;
    background-color: transparent;
    color: #FCB72B;
}

/* HEAD_END */