body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}



/* HEAD_START */

.head {
    margin: 0;
    padding: 0;
}

.head_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 0;
}
.head_inner_left {
    margin: 0;
    padding: 0;
}
.head_inner_left_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.head_inner_left_list_item {
    margin: 0;
    padding: 0;
}
.head_inner_left_list_item_link {
    text-decoration: none;
    color: #939CAA;
    font-size: 15px;
    font-weight: 700px;
}
.head_inner_right {
    margin: 0;
    padding: 0;
}
.head_inner_right_btn {
    margin: 0;
    padding: 15px 40px;
    background-color: #FCB72B;
    color: #FFFFFF;
}


/* HEAD_END */